<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Home")
    @Styles.Render("~/Content/Icon")
</head>
<body style="padding-top:0px; padding-bottom:0px">
    <nav class="navbar navbar-expand-lg navbar-light Color fixed-top">
        <div class="navbar-brand">
            <a class="Menu" href="#">REAL ESTATE</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="navbar-brand"><a class="Menu ItemCenter" href="#">BUY</a></li>
                <li class="navbar-brand"><a class="Menu ItemCenter" href="#">SELL</a></li>
                <li class="navbar-brand"><a class="Menu ItemCenter" href="#">RENT</a></li>
                <li class="navbar-brand"><a class="Menu ItemCenter" href="#">NEWS</a></li>
                <li class="navbar-brand dropdown">
                    <a class="dropdown-toggle ItemCenter Menu" data-toggle="dropdown" href="#">About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu Menu-dropdown">
                        <li><div class="dropdown-item Menu-dropdownitem" href="#">Introduction</div></li>
                        <li><div class="dropdown-item Menu-dropdownitem" href="#">Carreer</div></li>
                        <li><div class="dropdown-item Menu-dropdownitem" href="#">FAQ</div></li>
                        <li><div class="dropdown-item Menu-dropdownitem" href="#">Contact Us</div></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="Right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn-block btn-sm mx-1">
                <i class="fas fa-heart heart" style="font-size:1.5em"></i>
            </a>
        </div>
    </nav>
    <div class="container-fluid Body">
        @RenderBody()
    </div>
    <div>
        <hr />
        <footer>
            <div class="text-center">
                <h3>Hãy kết nối với chúng tôi</h3>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a class="btn-block btn-sm mx-1">
                            <i class="fab fa-facebook-square fa-3x icons"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-block btn-sm mx-1">
                            <i class="fab fa-google-plus fa-3x icons"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid Color" style="padding-top:20px">
                <div class="row MenuBT">
                    <div class="col-sm-3">
                        <h5 class="text-uppercase font-weight-bold">Footer Content</h5>
                        <p>About Company?</p>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="text-uppercase font-weight-bold">Footer Content</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a class="Menu" href="#">Link 1</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 2</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 3</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="text-uppercase font-weight-bold">Footer Content</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a class="Menu" href="#">Link 1</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 2</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 3</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="text-uppercase font-weight-bold">Footer Content</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a class="Menu" href="#">Link 1</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 2</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid Copyright" style="padding-bottom:10px; padding-top:10px">
                <div class="text-center MenuBT">
                    © 2018 Copyright:
                    <a class="Menu" href="#">RealEstate.com</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
